---
import { Icon } from '@astrojs/starlight/components';
import type { HTMLAttributes } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'a'>, 'title'> {
    icon?: keyof typeof Icon;
    description?: string;
    title: string;
}

const { icon, description, title, ...attributes } = Astro.props;
---

<div class="container">
    <slot></slot>
</div>

<style scoped>
    .container {
        border: 1px solid var(--sl-color-gray-5);
    }
</style>